@charset "ISO-8859-1";
body
{
	/*margin-top:50px;*/
	background-image:url("admback.jpg");
}
p
{
	color:green;
	font-size:50px;
}
h2
{
	color:purple;
	font-size:50px;
}
input[type=text] {
    border:1px solid black;
    height:40px;
    width:50%;
    border-radius:40px;
    margin-left:25%;
    margin-top:8px;
    margin-bottom:25px;
    font-size:22px;
    color: #aa3db6;
    padding-left:15px;
}
input[type=email] {
    border:1px solid black;
    height:40px;
    width:50%;
    border-radius:40px;
    margin-left:25%;
    margin-top:8px;
    margin-bottom:25px;
    font-size:22px;
    color: #aa3db6;
    padding-left:15px;
}
input[type=date] {
    border:1px solid black;
    height:40px;
    width:50%;
    border-radius:40px;
    margin-left:25%;
    margin-top:8px;
    margin-bottom:25px;
    font-size:22px;
    color: #aa3db6;
    padding-left:15px;
}
label
{
	color:olive;
	font-size:30px;
	margin-left:8%;
}
input[type=submit]
{
	border-radius: 20px;
	width:80px;
    height:35px;
}
input[type=submit]:hover, input[type=submit]:active
{
	background-color:pink;
}
::placeholder {
  color: #aa3db6;
  opacity: 1;
  font-size:22px;
  padding-left:15px;
}

:-ms-input-placeholder {
 color: #aa3db6;
}
