@charset "ISO-8859-1";
h2
{
	color:red;
	font-weight:bold;
	text-align:center;
	font-size:50px;
}
p
{
	color:darkgreen;
	text-align:center;
	font-size:35px;
	font-family: 'Courier New', monospace;
	font-weight:bold;
}